{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
<link href="{% static 'catalogue/css/custom_ckeditor1.css' %}" rel="stylesheet">


{% load auth_extras %}
{% if request.user|has_group:"Proveedor" %}


<!--
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:khaki;">
  <div class="container">
    <span class="navbar-brand" href="#"><i>Administrar</i></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nep" aria-controls="nep" aria-expanded="false">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="nep">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'catalogue:create' %}"><i>Añadir libro</i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'catalogue:books' %}"><i>Listar libros</i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

-->
{% endif %}