
{% extends 'core/base.html' %}
{% load static %}
{% block title %}Eliminar Video{% endblock %}

{% block background %}{% load static %}{% static 'core/img/juego-bg.jpg' %}{% endblock %}

{% load auth_extras %}
{% block headers %}
<h1>Juego</h1>
<span class="subheading">Diviertete</span>
{% endblock %}

{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
            <form action="" method="post">{% csrf_token %}
                <p>¿Estás seguro de que quieres eliminar "{{ object }}"?</p>
                <input type="submit" class="btn btn-danger" value="Sí, borrar el video" />
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}