
{% extends 'core/base.html' %}
{% load static %}
{% block title %}Eliminar Libro{% endblock %}
{% block background %}{% load static %}{% static 'core/img/catalogue-bg.jpg' %}{% endblock %}
{% block headers %}
<h1>Catalogo</h1>
<span class="subheading">Libros</span>
{% endblock %}
{% block content %}
{% include 'catalogue/includes/books_menu.html'%}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
            <form action="" method="post">{% csrf_token %}
                <p>¿Estás seguro de que quieres eliminar "{{ object }}"?</p>
                <input class="btn btn-danger" type="submit" value="Sí, borrar el libro" />
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}