{% extends 'core/base.html' %}
{% load static %}
{% block title %}Añadir libro{% endblock %}
{% block background %}{% load static %}{% static 'core/img/exercises-bg.jpg' %}{% endblock %}
{% load auth_extras %}
{% block headers %}
<h1>Ejercicios</h1>
<span class="subheading">No todo es jugar</span>
{% endblock %}

{% block content %}

{% if 'okupdate' in request.GET %}
<div class="alert alert-success" role="alert">
    Archivo Actualizado correctamente
</div>
{% endif %}

<style>label{display: none;}</style>
<main role="main">
  <div class="container">
    <div class="row mt-3 mb-5">
      <div class="col-md-9 mx-auto">
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
              {{ form.title }}
              <br>
              <div id="url" class="p-1" style="background-color: rgba(196, 71, 250, 0.397)">
                Archivo:
                <br>Actualmente: <a href="{{object.url.url}}">{{object.url.url}}</a>
                <br>Cambiar:
                <input type="file" class="form-control mt-1" name="url" id="id_url">
                </div>  
                <br> 
                <input type="date" value="{{object.get_time_value}}" class="form-control mt-1" name="date_delivery" id="id_date_delivery">
              <div class="text-center">
                <input type="submit" class="btn btn-primary btn-block" value="Crear Libro" />
              </div>
            </form>
      </div>
    </div>
  </div>
</main>
{% endblock %}